<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--配置一个处理enum类型到数据库中对应字段类型的转换器-->
    <typeHandlers>
        <typeHandler handler="com.shangxuefeng.cachetest.business.enums.EnumTypeHandler"
                     javaType="com.shangxuefeng.cachetest.business.enums.StrategyEnum"/>
    </typeHandlers>

</configuration>