<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shangxuefeng.cachetest.business.dao.StrategyDao">

    <select id="getStrategyById" parameterType="Integer" resultType="com.shangxuefeng.cachetest.business.bean.Strategy">
        SELECT
        <include refid="BaseColumnLists"/>
        FROM strategy
        WHERE id = #{id}
    </select>


    <select id="getStrategyListByPreAction" parameterType="String" resultType="com.shangxuefeng.cachetest.business.bean.Strategy">
        SELECT
        <include refid="BaseColumnLists"/>
        FROM strategy
        WHERE pre_action = #{preAction}
    </select>

    <update id="updateStrategy" parameterType="com.shangxuefeng.cachetest.business.bean.Strategy">
        UPDATE strategy
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="preAction != null">
                pre_action = #{preAction},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="id != null">
                utime = UNIX_TIMESTAMP()*1000,
            </if>
        </set>
        WHERE id=#{id}
    </update>
    <sql id="BaseColumnLists">
        id, name, pre_action as preAction, status, ctime, utime
    </sql>


</mapper>